* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 45px;
    padding-bottom: 15px;
    width: 100%;
}

.Cardwrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 45px;
    padding-bottom: 15px;
    width: 100%;
}

/* All Loggin */
.alllog-colundiv {
    height: 150px;
}

.alllogin-container {
    width: 70%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.backArrowlogin {
    position: absolute;
    top: 45%;
    cursor: pointer;
}

.backLogin:hover {
    background-color: #FFF;
    border-radius: 5px;
    color: #FFF;
}


.partnerbodyDiv {
    position: relative;
}

/* forget password / OTP */
.forgetpagemaindiv,
.Otpmaindiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Forgetdiv {
    width: 100%;
}

/* login section */
.loginpic {
    width: 150px;
    height: 30px;
}

.loginimage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: left;
}

/* .loginImgDiv{
    width: 50%;
    height: 100vh;
} */

.hr-lines {
    position: relative;
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
}

.hr-lines:before {
    content: " ";
    height: 2px;
    width: 200px;
    background: rgb(204, 196, 196);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines:after {
    content: " ";
    height: 2px;
    width: 200px;
    background: rgb(204, 196, 196);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.backLoginForm:hover {
    border: 1px solid gray;
}

/* login pages bottom links list */
.listcontainer {
    width: 100%;
    display: flex;

}

.custom-list {
    list-style-position: inside;
    display: flex;
    /* gap:2px; */
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.custom-list-item:hover {
    text-decoration: underline;
    color: blue;
}

.GBDiv {
    font-size: 10px;
    color: #000;
}

/* signup */
.signupimage {
    width: 100%;
    height: 130vh;
    object-fit: cover;
    position: left;
}

/* business login form */
.loginBOdyDiv {
    /* background: linear-gradient(to bottom right, #ef5d85  0%, #fff 23%); */
    background: linear-gradient(to bottom right, #f47a9b, #f9becc, #fff, #fff, #fff, #fff);
    /* background: linear-gradient(297deg, rgba(179, 37, 76, 0.37) 1.79%, #D25678 60.81%); */
    /* background-color: #f7dbe3 ; */

}

.forbusiness-page {
    width: 50%;
}

.businesshr.hr-lines {
    position: relative;
    max-width: 500px;
    text-align: center;
}

.businesstocustomer {
    text-decoration: underline;
}

.businesshr .hr-lines:before {
    content: " ";
    height: 1px;
    width: 180px;
    background: rgb(204, 196, 196);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.businesshr .hr-lines:after {
    content: " ";
    height: 1px;
    width: 180px;
    background: rgb(204, 196, 196);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.login-logo-margin {
    border: 1px solid rgb(199, 195, 195);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.login-logo-margin:hover {
    border-color: #000000 !important;
}

.lastcol {
    border: 1px solid rgb(199, 195, 195);
    padding: 5px 3px;
    border-radius: 5px;
}

.lastcol:hover {
    border-color: #000000 !important;
}


.form-outline .form-control~.form-label {
    padding-top: 8px;
}



/* Header ----------------------------------- */
.headerDiv {
    position: sticky;
    top: 0px;
    z-index: 99;
    padding: 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    flex-wrap: wrap;
}

.headerLogoDiv {
    width: 50%;
}

.headerLogo {
    width: 150px;
    height: 35px;
    object-fit: contain;
    align-items: center;
}

/* header menu */
.headerBtnDiv {
    width: 50%;
    display: flex;
    justify-content: end;
    align-content: center;
}

.dropdown,
.dropdown-btn {
    max-width: 100%;

}

.dropdown-btn span {
    /* width: 20%; */
    background: #ef5d85;
    padding: 3px 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}


.dropdown-content {
    margin-top: 35px;
    list-style: none;
    position: absolute;
    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.3s;
}

.menuCheckBox:checked~.dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li {
    border-radius: 5px;
}

.menuCheckBox:checked+label>.arrow {
    transform: rotate(180deg);
}

.menuCheckBox {
    opacity: 0;
    position: absolute;
}

.dropdown-content li:hover {
    background: #e9e9ea7f;
}

.dropdown-content li .menu_label {
    display: block;
    padding: 10px 20px;
    margin: 3px;
    text-decoration: none;
}

.dropdown-backg {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(166, 165, 165, 0.527);
    background: rgb(255, 255, 251);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

/* ----------------------------------------------------------------- */
/* footer */
.footer {
    margin-top: 200px;
    width: 100%;
}

.Footer_sec {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #191919;
    padding: 36px 0px 28px 0px;
}

.Footer_part1 {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Footer_Fac {
    width: 10%;
    flex-shrink: 0;
}

.Footer_Fac_desc p {
    width: 100%;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Social_logo {
    width: 51px;
    height: 59px;
    flex-shrink: 0;
}

.Social_ions_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #797878;
}

.Fb {
    color: #eeeeee;
}

.Footer_Fac_Socialions {
    padding-top: 15px;
    display: flex;
    gap: 15px;
}

.Footer_part2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    /* background: chocolate; */
}

.Footer_part3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
    align-items: center;
    /* background: #efece9; */
}

.Footer_WorkingHours p {
    width: 100%;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.Footer_WorkingHours h1,
.Footer_Contactus h1 {
    padding-bottom: 10px;
}

.Footer_part4 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.Footer_Contactus {
    width: 100%;
}

.Footer_Contactus p {
    width: 100%;
    flex-shrink: 0;
    color: #FAFAFA;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.Footer_sec h1 {
    color: #FAFAFA;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #2D2D2D;
}

.Copyright_inn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.Copyright span {
    padding: 0px 20px 0px 30px;
}

.Copyright h2 {
    padding-left: 20px;
    color: #FFF;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* ------------------------------------------------------------ */
/* Home Page search and book div */
.homeDiv {
    background-color: #B3254C;
    /* For browsers that do not support gradients */
    /* background: linear-gradient(297deg, #B3254C 2.59%, rgba(179, 37, 76, 0.37) 6.79%, #D25678 80.81%); */
    background: linear-gradient(297deg, rgba(179, 37, 76, 0.37) 4.79%, #D25678 80.81%);
}

.homeText h2 {
    font-size: 51px;
    color: #040404;
    max-width: 1400px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homeText {
    /* padding-top: 80px; */
    width: 600px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

/* appoinment booked text and count */
.appointment p {
    color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
}

/* scan section */
.scanDiv {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* margin: 15px; */
}

.partnerBtn {
    text-decoration: none;
}

.partnerText {
    background: #000;
    /* background: rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); 
    border: solid 1px #eeb4c4; */
    border-radius: 60px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 30px;
    padding: 15px;
}

.partnerDiv,
.phnScan,
.downloadDiv {
    display: flex;
    flex-flow: row wrap;
    width: 33.33%;
    justify-content: center;
    color: #000;
    align-content: center;
}

.partnerH2 {
    padding: 20px 0;
}

.partnerH2,
.partnerLink,
.barCodeImg,
.barCodeText,
.downloadText,
.downloadImg {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

/* phone barcode scaner */
.scanBg {
    /* background-color: #FFFFFF; */
    background: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: solid 1px #eeb4c4;
    border-radius: 52px;
}

.barCode {
    width: 110px;
}

.barCodeText h2 {
    font-size: 20px;
}

.scanBg:hover {
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.barCodeImg {
    padding: 20px 0 0 0;
}

.barCodeText,
.downloadImg {
    padding: 15px 20px;
}

.downloadImg {
    display: flex;
}

.downloadLogo {
    width: 50%;
    padding: 0 10px;
}

.downloadImg img {
    width: 190px;
    height: 60px;
}

.downloadImg img:hover {
    width: 210px;
    height: 70px;
}


/* search bar */
.Search_Section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.Search_bar {
    width: 60%;
    padding: 9px;
    margin: 35px;
    border-radius: 31.5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
}

.searchBarColor1 {
    background: #ffffff;
}

.searchBarColor2 {
    background-color: #F0EFEF;
}

.Search_sec1_outer {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

.Search_sec1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.TreatorVenue {
    color: #020202;
    text-align: center;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search_ions {
    width: 16px;
    flex-shrink: 0;
}

.Search_sec2 {
    width: 1%;
}

.Search_line {
    width: 1px;
    height: 37px;
}

.Search_sec3 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search_sec3_outer {
    display: flex;
    width: 280px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.Search_map {
    margin: 0 15px;
    width: 19px;
    height: 19px;
}

.location {
    color: #020202;
    text-align: start;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .search_button Link {
    border-radius: 15px;
    padding: 7px 0 7px 0;
    margin: 0 5px;
    background: #000;
    color: #FFFFFF;
} */

.search_button {
    width: 24%;
    padding: 7px;
    border-radius: 20px;
    background: #000;
    text-align: center;
}

.sear_buton {
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.search_button:hover,
.partnerText:hover {
    background: #333232;
}


/* ------------------------------------------------------------ */

/* recomended salon card*/

.textCard {
    font-size: 29px;
    /* padding-left: 123px; */
    padding: 15px;
    color: #000000;
}

.recomendedButton {
    text-decoration: none;
    border: 1px solid rgb(239, 225, 198);
    font-size: 10px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #454444;
    background-color: rgb(247, 246, 245);
    border-radius: 15px;
}

.recomendedButton1 {
    text-decoration: none;
    text-align: center;
}

/* salon card */
.SaloonCard_body {
    /* background: #bd0707; */
    margin: 0 auto;
    max-width: 1350px;
    width: 100%;
    display: flex;
    /* padding-bottom: 15px; */
}

.SaloonCards-Section {
    display: flex;
    flex-flow: row wrap;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    /* background: #7f4545; */
    /* width: 100%; */
    /* height: 316.476px; */
}

.S_Card {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: #7c7979; */
}

.S_logo {
    width: 300px;
    height: 316.476px;
    object-fit: cover;
    /* margin: 25px; */
    border-radius: 10px;
}

.S_logo:hover {
    width: 265px;
    height: 310px;
    object-fit: cover;
}

.S_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* gap: 8px; */
    padding: 10px 0 10px 0;
    width: 191.17706298828125px;
    /* height: 73.6290054321289px; */
    border-radius: 16px 16px 0px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.S_info:hover {
    background: rgba(223, 218, 218, 0.7);
}

.S_info .heading1 {
    color: #B58152;
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.S_info .heading2 {
    color: #000;
    font-family: Old Standard TT;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading2 span {
    color: #000;
    font-family: Old Standard TT;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.S_info .heading3 {
    color: #5A5A5A;
    font-family: Old Standard TT;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ------------------------------------------------------------ */

/* Review card */

.reviewCard {
    /* background: #bd0707; */
    margin: 0 auto;
    /* max-width: 1200px; */
    max-width: 1350px;
    width: 100%;
    display: flex;
    /* padding-bottom: 50px;     */
    flex-flow: row;
    justify-content: space-evenly;
}



.glass-card {

    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px;
    border-radius: 27px;
    background: #F2F2F2;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: start;
    margin: 10px ;
}

.glass-card:hover {
    background-color: white;
}

s .glasscard_heading {
    padding: 15px 0px;
    font-size: 20px;
    /* font-weight: 700; */
    font-family: sans-serif;
}

.glasscard_para {
    color: #000;
    font-family: 'sans-se';
    font-size: 15px;
    padding-bottom: 80px;
}


.glass_circle {
    width: 100%;
    display: flex;
    align-items: center;
}

.circle_img .c_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.circle_text {
    padding: 10px;
    color: #7c7979;
    font-size: 15px;
}

.circle_text span {
    color: #000;
}

/* -------------------------------------------------------- */
/* home page appoinment section */
.Appoint_book {
    width: 100%;
    display: flex;
    padding: 70px 0px 30px 10px;
    flex-direction: column;
    align-items: center;
}

.Appo_book1 {
    color: #020202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.Appo_book2 {
    padding: 10px;
    color: #1a1818;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Appo_book3 {
    padding: 70px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background: linear-gradient(to right, #0C1485 0%, #3528F7 23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Appo_book4 {
    color: #020202;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Appo_book5 {
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_1,
.book_2,
.book_3 {
    width: 30%;
    padding: 90px 0px 50px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Appo_book5 span {
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 8px;
}

/* --------------------------------- */

/*Decadence Hair & Beauty */
.Decades_img_box {
    width: 100%;
    flex-shrink: 0;
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

.Decades_top_section {
    display: flex;
    justify-content: space-between;
}

.Decades_title {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
}

.Decades_title span {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 30px;
}

.Decades_logos {
    /* width: 90px; */
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* background: blueviolet; */
}

.Decades_circle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    border: 1px solid rgb(183, 185, 208);
    background: #ffffff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.shareIcon,
.heartIon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.Dec_Saloon_imges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #7c7979; */
}

.Dec-container1 {
    width: 90%;
}

.DSaloon_img1 {
    width: 98%;
    height: 380px;
    border-radius: 10px;
    object-fit: cover;
}


.Dec-container2 {
    width: 50%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: #F0EFEF; */
}

.container_img {
    width: 100%;
    height: 182px;
    text-align: right;
}

.DSaloon_img2 {
    width: 100%;
    height: 182px;
    border-radius: 10px;
    object-fit: cover;
}

.seeAllImg {
    text-decoration: none;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 8px;
    padding: 3px 10px;
    color: #000;
    font-size: 15px;
    box-shadow: #797878;
    font-weight: 600;
}

.seeAllImg:hover {
    background-color: rgba(248, 248, 248, 0.88);
}

/* -------------------------------------------------- */
/* Services */
.Decades_bottom_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Decades_bottom_left {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* border:1px solid rgb(209, 204, 204); */
    border-radius: 10px;
    /* background: #eeeeee; */
}

.service {
    padding-right: 20px;
}

.service_headline h2 {
    font-size: 37px;
    font-weight: 700;
}

.Dec_Service_Secone {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
}

.Dec_Service_Secone:hover {
    background-color: whitesmoke;
}

.Color_cons {
    width: 50%;
    display: flex;
    justify-content: flex-start;

}

.consultation {
    display: flex;
    flex-direction: column;
}

.consultation h4 {
    font-size: 15px;
    font-weight: 480;
}

.consultation span {
    color: gray;
}


.Add_Button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.SBtn {
    text-align: center;
    text-decoration: none;
    background: rgb(236, 235, 235);
    border: 1px solid rgb(201, 195, 195);
    border-radius: 10px;
    padding: 1px 4px 2px 4px;
}

.plusicon {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.Decades_bottom_right {
    width: 38%;
    display: flex;
    flex-direction: column;
}

.Dec_bottom_section1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px 10px 0px 0px;
}


.DecadesLeft_title h1 {
    font-size: 30px;
    font-weight: 700;

}

.DecadesLeft_content {
    padding-top: 5px;
}

.DecadesLeft_content span {
    /* font-size: 15px; */
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 700;

}

.DecService_color {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.Dec_Service_Sec {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.DecadesLeft_title text {
    font-size: 35px;
    font-weight: 700;
}


.Service_Btn {
    width: 20%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    background: #000;
}

.ColoulightsBtn {
    text-decoration: none;
    color: #FFFFFF;
}

.Service_head1 ul {
    width: 100%;
    padding: 5px 0;
    color: #000;
    text-align: center;
    /* font-family: Jost; */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Service_head1 li {
    padding: 5px 0;
}

.Service_head1 {
    width: 100%;
    /* padding: 0 10px; */
    padding-right: 10px;
}

.serviceListDecadence {
    list-style: none;
    display: flex;
    flex-flow: row;
    width: 100%;
}

.serviceListDecadence li:hover {
    background-color: rgb(222, 242, 249);
    border-radius: 15px;
}

.arrowList {
    font-size: 15px;
    padding: 0;
}

/* team member picture */
.Teams_section {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px;
    /* gap: 15px; */
}

.Teams_section text {
    padding: 45px 0px 0px 0px;
    font-size: 37px;
    font-weight: 700;
}

.images_sec_1 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-left: 30px;
}

.Teams_images {
    width: 25%;
    height: 230px;
    /* padding-bottom: 25px; */
    padding: 25px 20px;
    /* background: #0C1485; */
}

.teamImg {
    width: 70%;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}


.teamImg img {
    width: 100%;
    transition: 0.1s all ease-in-out;
}

.teamImg img:hover {
    transform: scale(1.2);
}

.teamPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.team_smallbox {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    padding-bottom: 15px;
    /* background: #1f8946; */
}

.box-body {
    width: 60px;
    position: absolute;
    top: -20px;
    right: 45px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background: rgba(255, 255, 255, 28);
}

.team_smallbox text {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.text_Name {
    /* width: 100%; */
    padding-top: 15px;
    text-align: center;
    align-items: center;
    /* background: #0C1485; */
}

.teamTxt {
    padding-bottom: 10px;
    /* background-color: #ef5d85; */
}

.teamPara text {
    width: 200px;
    font-size: 14px;
    color: #797878;
    line-height: 0px;
    /* background-color: blueviolet; */

}

.text_Name h2 {
    font-size: 20px;
    font-weight: 500;
}

.text_Name p {
    width: 200px;
    font-size: 14px;
    color: #797878;
    line-height: 0px;
}


/* Review */
.Review_section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.AllSection_review {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.Review_sec_1 text {
    /* padding: 20px; */
    font-size: 37px;
    font-weight: 700;
}

.Review_sec_1 {
    width: 100%;
    display: flex;
}

.Star_review {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Star_review text {
    font-size: 30px;
}

.Star_review span {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.Review_content_sec {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.Review_images {
    width: 50%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.Rev_image {
    width: 100%;
    display: flex;
}

.review_image1 {
    width: 15%;
    border-radius: 50%;

}

.review_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review_textbox text {
    font-size: 20px;
    font-weight: 500;
    padding: 0px 15px;
}

.review_textbox span {
    font-size: 15px;
    font-weight: 400;
    color: #797878;
}

.reviewstar_rating {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.reviewstar_rating p {
    font-size: 15px;
}

.reviewstar_rating span {
    font-size: 15px;
    font-weight: 400;
}

/* ......................... */

.SeeAll_btn {
    width: 100%;
}

.seeAllbtn:hover {
    background-color: whitesmoke;    
}

.seeAllbtn {
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgb(176, 176, 176);
    
}

.seeall_buton {
    /* width:30%; */
    font-size: 1.2rem;
    /* color: #fff ; */
    color: #000;
}

/* active class for select service main page menu list */
/* active class */
.serviceList {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* .serviceList li a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
  } */


.activeSerive a {
    color: #101010;
    background-color: #fff;
}

/* ikg */
.serviceList {
    list-style: none;
    display: flex;
    flex-flow: row;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-content: center;
    background-color: white;
    cursor: pointer;
    padding: 10px 0;
}


.serviceList li {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.serviceList li:hover {
    background-color: rgb(222, 242, 249);
    border-radius: 15px;
}

.arrowList {
    font-size: 15px;
    /* padding-top: 5px; */
}

.rec-dot {
    visibility: hidden;
}

.ArrowLeftRight {
    padding: 0px;
    border: none;
    background-color: transparent;
    margin: 1px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 10px;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

/* active class decadence menu list */

.serviceListDecadence {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    font-weight: bold;
}

.serviceListDecadence .active {
    width: 100%;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;

}

.serviceListDecadence .active:hover {
    background-color: black;
    border-radius: 15px;
}

.serviceListDecadence .active a {
    color: #fff;
}

/* ------------------------------------------- */
/* Map */
.MapAdd_Section {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

.Map_paragraph {
    padding-top: 100px;
    width: 90%;
    color: #000;
    text-align: justify;

}

.Map_iframe {
    width: 100%;
    display: flex;
}

.iframe_section {
    width: 100%;
    padding: 20px 0px;
}

iframe {
    width: 90%;
    height: 300px;
}

.MapAdd_Section text {
    width: 100%;
    font-size: 20px;
}

/* -------------------------------------------------- */
/* left section of 30% */

.Decades_bottom_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* background: #7c7979; */
    display: flex;

}

.Dec_bottom_allsection {
    width: 100%;
    position: sticky;
    top: 35px;
    flex-direction: column;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
}

.Dec_bottom_section1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(209, 204, 204);
}


.DecadesLeft_title text {
    font-size: 35px;
    font-weight: 700;

}

.DecadesLeft_content {
    padding-top: 5px;
}

.DecadesLeft_content span {
    font-size: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.DecadesLeft_title text {
    font-size: 35px;
    font-weight: 700;
}




.SerFeatured_Buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px 20px 0px;
}

.Feature_Btn {
    display: flex;
}

.fea_Btn {
    border: 1px solid rgb(120 148 214 / 19%);
    background: rgb(120 148 214 / 19%);
}

.fea_Btn,
.dea_Btn {
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.featureBtn {
    padding: 5px;
    color: #3528F7;
    font-size: 20px;
    font-weight: 600;
}

.Deals_Btn {
    display: flex;
}

.dea_Btn {
    border: 1px solid rgb(26 125 18 / 19%);
    background: rgb(135 233 95 / 44%);
}

.dealsBtn {
    padding: 5px;
    color: #1f8946;
    font-size: 20px;
    font-weight: 600;
}

.Book_NowBtn {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(4, 4, 4, 0.19);
    background: #000;
}

.boo_Btn {
    text-decoration: none;
}

.bookBtn {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}


.Decades_bottom_section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(209, 204, 204);

}

.dec-bottomsec {
    width: 100%;
    padding: 20px;
}

.OPEN_UNTIL,
.dec_Addres {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.acesstimelogo,
.Mapinlogo {
    font-size: 28px;
    padding: 0px 5px;
}

.Decades_bottom_section3 {
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Dec_memberships {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.Membership {
    width: 70%;
}

.Decades_bottom_section3 text {
    color: #000;
    font-size: 23px;
    font-weight: 500;
}

.Decades_bottom_section3 p {
    color: #797878;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}

.BtnMembership {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.membership {
    display: flex;
}

.buy_buton {
    text-align: center;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
    text-decoration: none;
}

.Buy_buton {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

/* open timings div css ----------------------------------*/
.Opening_Section {
    width: 100%;
    display: flex;
}

.opening_times {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.days_head {
    width: 100%;
    display: flex;

}

.days_head h4 {
    font-size: 20px;
}

.opening_times_parts {
    display: flex;
    justify-content: space-between;
}

.Additional_information {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.add_info {
    width: 100%;
}

.add_info p {
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.instant_infologo,
.payby_applogo {
    padding-right: 10px;
    font-size: 25px;
    font-weight: 400;
}

/* product slider ---------------------------*/


.rec-dot {
    visibility: hidden;
}



.arrowCustom {
    font-size: 30px;
    border: 1px solid rgb(118, 115, 119);
    border-radius: 15px;
    font-weight: 100;
}


.ArrowLeftRight {
    border: none;
    background-color: transparent;
}

.arrowCustom:hover {
    background-color: rgb(237, 236, 236);
}


/* .rec-arrow {

    font-size: 1.1rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    min-width: 2.5rem !important;
    line-height: 2.5rem !important;
} */

/* ------Select service----------------------- */

.Page1_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: white;
}

.Page1_sections {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.Page1_Leftsection {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.All_Leftsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 50px;
}

.biarrowicon {
    font-size: 30px;
    padding: 5px;
    margin: 5px;

}

.biarrowicon:hover {
    background-color: #efeeee;
    border-radius: 10px;
    margin: 5px;
    /* color: #FFF; */
    /* border-radius: 10px; */
}

.arrow {
    position: fixed;
    top: 0;
    background-color: white;
}

.stafArrow {
    padding-top: 8px;
}


.Select_Service h2 {
    /* margin-top: 25px; */
    font-size: 30px;
}

/*  */
.rec-pagination {
    height: 0;
}

.Page1_colorSection {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}

.page_position {
    width: 43%;
    position: fixed;
    top: 0;
    background-color: white;
    /* border: 1px solid grey; */
}

.ColoulightsBtn {
    background: #000;
    text-decoration: none;
    border-radius: 25px;
}

.text_colorbtn {
    color: white;
    padding: 20px 20px;
}

.ColorHighlight_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.SelectContentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* //   height: 100vh */
    /* color: white; */
    font-size: 40;
    padding: 125px 0 0 0;
    flex-flow: row wrap;
}

.contentHeading {
    width: 100%;
    color: #000;
    padding-bottom: 20px;
}

.contentHeading text {
    font-size: 25px;
    font-weight: 700;
}

.contentHeading p {
    font-size: 18px;
}

.Color_section1,
.Con_heading3,
.Con_heading2 {
    display: flex;
}

.Page1_bottomsec {
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
    margin-right: 15px;
}

.Color_parts,
.Color_Consultation {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Color_parts {
    border-bottom: 1px solid rgb(209, 204, 204);
    border-radius: 5px;
}

.Con_heading1 {
    padding: 30px 20px;
}

.con-innerdiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Con_heading2 {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
}

.Con_head text {
    font-size: 20px;
    font-weight: 500;
}

.Con_head span {
    color: #797878;
}

.Con_head {
    display: flex;
    flex-direction: column;
}

.Con_heading3 span {
    font-size: 20px;
    padding-right: 10px;
    color: #000000;
}

.Con_paragraph p {
    padding-right: 20px;
}

.checkbox-round {
    padding: 30px 10px;
}

.toarrowScrollicon {
    position: fixed;
    background-color: #FFF;
    cursor: pointer;
    font-size: 30px;
}

/* select serivce content check book onclick button  */
/* select service conten--------------- */

.selectser-BOOKBUTTON {
    position: fixed;
    bottom: 20px;
    left: 1070px;
    z-index: 999;
}

.Selectservice-button {
    text-decoration: none;
    text-align: center;
}

.hiddenselectser-Btn {
    background: #020202;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;

}

/* MOre Offer Section */
.Boxmoreoffers {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(209, 204, 204);
}

.BUYVOCHER {
    text-decoration: none;
}

.vouchermembership {
    font-size: 20px;
    font-weight: 500;
    color: black;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.vouchermembership:hover {
    background: #efeded;
}

/* page1 select serive image right section */
.Page1_Right {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    position: relative;
}

.P_Right {
    position: sticky;
    top: 0px;
}

.closeicon {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.Close {
    font-size: 20px;
    /* padding-top: 30px; */
}

.Close:hover {
    color: slategrey;
}

.Page1_RightSection {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(209, 204, 204);
    margin-top: 90px;
}

.Page1_Image {
    display: flex;
    justify-content: center;
}

.page1_img {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 90px;
    border-radius: 15px;
    object-fit: cover;
}

.Page1_part1 {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px 30px 20px 30px;
    border-bottom: 1px solid rgb(209, 204, 204);
}

.Page1_part2 {
    padding: 30px;
    border-bottom: 1px solid rgb(209, 204, 204);
}

.sec1_part2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.part2sec2,
.Page1_Right {
    display: flex;
    flex-direction: column;
}

.part2sec2 span {
    color: #797878;
}

.part2sec2 text {
    font-size: 18px;
    font-weight: 400;
}

.Page1_part3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Page1_part3 {
    padding: 10px 30px;
}

/* select staff form/ page  */
.staff-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(209, 204, 204); */
    /* border-radius: 10px; */
}

.imgsecpage2 {
    width: 100%;
    display: flex;
    padding: 10px;
}

.staff_mainsec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.staff_image1 {
    width: 17%;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

.staff_textbox {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.staff_rating {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.page2lustar {
    margin: 0px 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.forwardarrow {
    font-size: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.staff_textbox text {
    font-size: 20px;
    font-weight: 500;
    /* padding: 5px 10px; */
}

.staff_textbox span {
    font-size: 15px;
    font-weight: 400;
    color: #797878;
}

.stafLink,
.stafLink:hover {
    color: #000;
}

.staff_othersec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(209, 204, 204);
    border-radius: 10px;
    margin: 5px 0;
}

.staff_othersec:hover {
    background-color: rgb(242, 242, 242);
}

/* Partner form -------------------------------------- */

.full-page-bg {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(297deg, rgba(179, 37, 76, 0.37) 4.79%, #D25678 80.81%);

}

.partnercheckB input[type="text"],
.partnercheckB input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.Apppic {
    width: 150px;
    height: 30px;
}

.P-Formwidth {
    width: 60%;
}

.exampleFormControlTextarea1 {
    font-size: 15x;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #0606065e;
}

.platformpurpose,
.purposebox {
    font-size: 15x;
    text-align: center;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #0606065e;
}

.purposebox {
    width: 20%;
}

/* calendar artist time slot page ---------------*/

.artistLink{
    color: #000;
}

.Calendarrow {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-middle {
    align-items: center;
}

.Calendarcol {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.Calendarcol-start {
    justify-content: flex-start;
    text-align: left;
}

.Calendarcol-center {
    justify-content: center;
    text-align: center;
}

.Calendarcol-end {
    justify-content: flex-end;
    text-align: right;
}


.calendar {
    display: block;
    position: relative;
    width: 100%;
    background: var(--neutral-color);

}

.calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
}

.calendar .header .icon {
    cursor: pointer;
    transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
    /*transform: scale(1.75);*/
    transition: 0.25s ease-out;
    color: var(--main-color);
}

.calendar .header .icon:first-of-type {
    margin-left: 1em;
}

.calendar .header .icon:last-of-type {
    margin-right: 1em;
}

.calendar .days {
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-size: 80%;
    padding: 0.75em 0;

}

.calendar .body .cell {
    position: relative;
    height: 4em;
    overflow: hidden;
    cursor: pointer;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
    font-size: 1.5em;
}


.calendar .body .cell .number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    padding: 20px 0;
    margin: 0 10px;
    border: 1px solid darkgray;
    border-radius: 50%;
}

.calendar .body .cell .number:hover {
    background-color: rgb(90, 90, 251);
    color: #FFF;
}

.calendar .body .disabled {
    color: var(--text-color-light);
    pointer-events: none;
}


.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
    opacity: 0.05;
    transition: 0.5s ease-in;
}


.calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100% / 7);
    width: calc(100% / 7);
}

/* artist calendar css*/

.selcttime_mainsec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Day-Section {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.Day-dateDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.selectarch-section {
    padding: 20px;
}

.SelectDay-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: aqua;
    padding: 10px 15px;
    border: 1px solid grey;
    border-radius: 10px;
}

.SelectDay-Section text {
    padding: 5px 0px;
}

.Selecttime-Div {
    width: 100%;
    display: flex;

}

.TimeSelect_othersec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid #cbc8c8;
    margin: 5px 0;
    border-radius: 10px;
}

.TimeSelect_othersec text {
    padding: 30px;
}

.TimeSelect_othersec:hover {
    background-color: rgb(242, 242, 242);
}

/* review and confirm page */

.reviewconfirm-card,
.reviewconfirm-card2 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.reviewcon-div {
    padding: 10px 30px;
}

.reviewcon-div p {
    color: black;
    font-size: 25px;
    font-weight: 300;
}

.reviewcon-div text {
    color: black;
}

.Allrevconfirm_Leftsection {
    padding: 70px  40px 0 40px;
}

.rconfirminputbox,
.rowconinputbox {
    border: 1px solid #cbc8c8;
    border-radius: 10px;
    padding: 15px;
}

.confirm_form label,
.confirm_promo {
    color: black;
}

.confirm_form,
.confirm_promo {
    display: flex;
    flex-direction: column;
}

.confirm_form label {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0px;
}

.confirm_Row,
.confirm_promocode {
    display: flex;
    justify-content: space-between;
}

.confirm_col {
    display: flex;
    flex-direction: column;
}

.rowconinputbox {
    padding: 10px 20px 10px 10px;
    border: 1px solid #cbc8c8;
    border-radius: 10px;
}

.confirm_pay {
    display: flex;
    padding: 20px 0px;
}

.reviewconfirm-card2 {
    border-top: none;
}

.confirm_promocode label {
    font-size: 15px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

.confirm_promocode {
    padding: 30px;
}

.confirm_promo {
    justify-content: end;
}

.promobox {
    border: 1px solid #cbc8c8;
    border-radius: 10px;
    padding: 15px;
    padding-right: 120px;
}

.PromoapplyBtn {
    text-decoration: none;
}

.applyBtn {
    background: #cbc8c8;
    color: #000;
    border-radius: 10px;
    padding: 10px 40px;
}

.BOOK_DIv {
    position: fixed;
    right: 320px;
    top: 500px;
}

.BooknowBtn {
    text-decoration: none;
    text-align: center;
}

.book_btn {
    color: #ffffff;
    font-size: 20px;
    background: #000;
    padding: 10px 20px;
    border-radius: 15px;
}

/* review in confirmation page session time out */

.sessiontimeout-div,
.sessiontime_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sessiontime_heading {
  padding-top: 60px;
}

.sicoor_page5 {
  width: 30%;
}
.page5_timeout {
  color: grey;
}
.tryagain_btn {
  width: 100%;
  padding: 50px 0px;
  text-align: center;
  text-decoration: none;
}
.TryAgain {
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 10px 40px;
}